*::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;
  /* background: url("stars.jpg"); */
  background-color: black;
}
.gameWrapper {
  aspect-ratio: 16 / 9;
  position: fixed;
	top: 0;
	left:0;
	bottom: 0;
	right: 0;
  background: black;
  width: 100%;
  height: 100%;
  z-index: -99;
}
#game-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  border-style: solid;
  /* border-color: red; */
  z-index: -1;
}
@keyframes move-background {
  from {
		-webkit-transform: translate3d(0px, 0px, 0px);
		/* -webkit-transform: translateX(0%); */
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
    /* -webkit-transform: translateX(100%); */
	}
}
@-moz-keyframes move-background {    
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
    /* -webkit-transform: translateX(0%); */
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
    /* -webkit-transform: translateX(100%); */
	}
}

@-webkit-keyframes move-background {
	from {
		-webkit-transform: translate3d(0px, 0px, 0px);
    /* -webkit-transform: translateX(0%); */
	}
	to { 
		-webkit-transform: translate3d(1000px, 0px, 0px);
    /* -webkit-transform: translateX(100%); */
	}
}
.stars {
  aspect-ratio: 16 / 9;
 background: black url("./static/stars.png") repeat;
 position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: -95;
}
.twinkling{
  aspect-ratio: 16 / 9;
	width:10000px;
	/* height: 100%; */
	background: transparent url("./static/twinkling.png") repeat-x;
  overflow: hidden;
	/* background-size: 1000px 1000px; */
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -90;
    
  -moz-animation:move-background 35s linear infinite;
  -ms-animation:move-background 35s linear infinite;
  -o-animation:move-background 35s linear infinite;
  -webkit-animation:move-background 35s linear infinite;
  animation:move-background 35s linear infinite;
}
.toggle {
  justify-content: right;
  align-items: right;
  text-align: right;
  place-items: right;
  position: sticky;
  bottom: 02%;
  left: 94%;
  height: auto;
  transition: none;
  transform-style: none;
  will-change: none;
  z-index: 10;
  margin-bottom: 0.5rem;
  margin-right: 1.0rem;
  margin-top: -4.0rem;
  pointer-events: none;
}
#music {
  opacity: 0.2;
  width: 2.6rem; 
  border-radius: 0rem;
  box-shadow: none;
  pointer-events: auto;
}
#music:hover {
  opacity: 0.7;
}
img {
  width: 100%;
  height: auto;
  z-index: 10;
}
#tutorial {
  display: none;
  z-index: 10;
}
.click-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%) scale(0.05);
  animation:tutorial 1.75s linear infinite 0s;
  -moz-animation:tutorial 1.75s linear infinite 0s;
  -ms-animation:tutorial 1.75s linear infinite 0s;
  -o-animation:tutorial 1.75s linear infinite 0s;
  -webkit-animation:tutorial 1.75s linear infinite 0s;
}
.click1 {
  color: white;
  font-size: 20vw;
  letter-spacing: 0.2em;
  line-height: 2.0;
  font-family: Verdana, sans-serif;
  
  width: 100%;
}
.click-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.05);
  animation:tutorial 1.75s linear infinite 0.25s;
  -moz-animation:tutorial 1.75s linear infinite 0.25s;
  -ms-animation:tutorial 1.75s linear infinite 0.25s;
  -o-animation:tutorial 1.75s linear infinite 0.25s;
  -webkit-animation:tutorial 1.75s linear infinite 0.25s;
}
.click2 {
  color: white;
  font-size: 20vw;
  letter-spacing: 0.2em;
  line-height: 2.0;
  font-family: Verdana, sans-serif;
  
  width: 100%;
}
.click-container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%) scale(0.05);
  animation:tutorial 1.75s linear infinite 0.5s;
  -moz-animation:tutorial 1.75s linear infinite 0.5s;
  -ms-animation:tutorial 1.75s linear infinite 0.5s;
  -o-animation:tutorial 1.75s linear infinite 0.5s;
  -webkit-animation:tutorial 1.75s linear infinite 0.5s;
}
.click3 {
  color: white;
  font-size: 20vw;
  letter-spacing: 0.2em;
  line-height: 2.0;
  font-family: Verdana, sans-serif;

  width: 100%;
}
.click-container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.05);
  animation:tutorial 1.75s linear infinite 0.75s;
  -moz-animation:tutorial 1.75s linear infinite 0.75s;
  -ms-animation:tutorial 1.75s linear infinite 0.75s;
  -o-animation:tutorial 1.75s linear infinite 0.75s;
  -webkit-animation:tutorial 1.75s linear infinite 0.75s;
}
.click4 {
  color: white;
  font-size: 20vw;
  letter-spacing: 0.2em;
  line-height: 2.0;
  font-family: Verdana, sans-serif;
  
  width: 100%;
}
@keyframes tutorial {
  0% {opacity: 1;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}
@-webkit-keyframes tutorial {
  0% {opacity: 1;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}
@-moz-keyframes tutorial {
  0% {opacity: 1;}
  40% {opacity: 0;}
  100% {opacity: 0;}
}
#expo-container {
  /* position: relative; */
  position: absolute;
  width: 100%;
  /* padding-top: 56.25%; */ /* 9 / 16 = 0.5625 */
  padding-top: 66%;
  /* overflow: auto; */
  z-index: 5;
  pointer-events: none;
  background-color: black;
}
#expo {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 66%;
  height: 66%;
  padding: 1.0rem;

  transform: translate(-50%, -50%) scale(1.0);
  transition: 350ms ease-in-out;
  border-radius: 0.625rem;
  z-index: 10;
  background-color: white;
  color: black;
  overflow: auto;
  pointer-events: auto;
  /* border: 0.25rem solid white; */

  justify-content: center;
  align-items: center;
  text-align: center;
}
#qr {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.0); */
  width: 30%;
  /* background: rgba(0, 0, 0, 0.5); */
  /* display: flex; */
  justify-content: center;
  align-items: center;
}