#overlay {
    aspect-ratio: 16 / 9;
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 4;
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    z-index: 4;
    pointer-events: auto;
}
/* #overlay.active:hover {
    background-color: rgba(255, 0, 0, 0.5);
} */
.modal-container {
    /* position: relative; */
    position: absolute;
    width: 100%;
    /* padding-top: 56.25%; */ /* 9 / 16 = 0.5625 */
    padding-top: 66%;
    /* overflow: auto; */
    z-index: 5;
    pointer-events: none;
}
.modal {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: absolute;
    top: 0;
    left: 0;
    width: 66%;
    height: 66%;

    transform: translate(-50%, -50%) scale(0);
    transition: 350ms ease-in-out;
    border-radius: 0.625rem;
    z-index: 10;
    background-color: black;
    overflow: auto;
    pointer-events: auto;
    border: 0.25rem solid white;

}
.demo {
    /* position: absolute; */
    /* top: 40%; */
    /* left: 50%; */
    /* border: solid 0.3rem #6bff5d; */
    border-radius: 0.625rem;
    box-shadow: none;
    opacity: 1;
    width: 80%;
    z-index: 10;
}
#modal1{
    top: 20%;
    left: 28%;
}
#modal1.active{
    top: 40%;
    left: 50%;
}
#modal2{
    top: 10%;
    left: 50%;
}
#modal2.active{
    top: 40%;
    left: 50%;
}
#modal3{
    top: 20%;
    left: 72%;
}
#modal3.active{
    top: 40%;
    left: 50%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
    z-index: 10;
}
/* .modal.active:hover {
    background-color: rgba(0, 255, 255, 0.5);
} */
.modal-header {
    padding: 0.625rem 0.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid black; */
    background-color: white;
}
.modal-header .title {
    font-size: 1.0rem;
    font-weight: bold;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.0rem;
    color: #cc0000;
    font-weight: 700;
    transition: 250ms ease-in-out;

    position: relative;
    right: 0%;
    top: 0%;
    align-items: center;
    pointer-events: auto;
}
.modal-header .close-button:hover {
    color: #ff0000;
    transform: scale(1.2);
}
.modal-body {
    font-size: 1.0rem;
    color: white;
    padding: 0.625rem 0.625rem;
    z-index: 10;
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;

    border-radius: 0rem 0rem 0.625rem 0.625rem;
    /* border: 0.25rem solid white; */
}
.sourceLink {
    border-radius: 1.0rem;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    place-items: right;
    width: 04%;

    transition: 250ms ease-in-out;
    /* object-fit: contain; */
}
.sourceLink:hover {
    width: 04.5%;
}
.liveLink {
    border-radius: 1.0rem;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    place-items: right;
    width: 04%;

    margin-left: 05%;

    transition: 250ms ease-in-out;
    /* object-fit: contain; */
}
.liveLink:hover {
    width: 04.5%;
}
span#green {
    color: #6bff5d;
}
span#pink {
    color: #ff00ff;
}
span#blue {
    color: #00ffff;
}
span#orange {
    color: #ff9900;
}
@media (min-width: 768px) {
    .modal-header .title {
        font-size: 1.25rem;
    }
    .modal-body {
        font-size: 1.25rem;
    }
}
@media (min-width: 1280px) {
    .modal-header .title {
        font-size: 1.5rem;
    }
}