<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css" />
        <link rel="stylesheet" href="./style-modal.css" />
        <title>Starship Game</title>
    </head>
    <body>
        <script src="./script/main.js" type="module" defer></script>
           
        <div class="gameWrapper">
            <div id="game-container">
                <div class="stars"></div>
                <div class="twinkling"></div>

                <div id="overlay"></div>
                
                <div class="modal-container">
                    <div class="modal" id="modal1">
                        <div class="modal-header">
                            <div></div>
                            <div class="title">Cardsite Project</div>
                            <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <video class="demo" autoplay muted loop>
                                <source id="source" src="./static/cardDemo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video> 
                            <a class="sourceLinkConatiner" href="https://github.com/" target="_blank">
                                <img class="sourceLink" src="./static/github.png" alt="Link to source code">
                            </a>
                            <a class="liveLinkContainer" href="https://thefrank86.github.io/Card_Visualizer/index.html" target="_blank">
                                <img class="liveLink" src="./static/live.png" alt="Live project link">
                            </a>
                            <br>
                            <br>
                            Web-based platform that allows users to search specific and entire sets of cards for the popular TCG "Magic the Gathering."  Real-time search results using the Scryfall API are presented with a Custom Visualizer Display.
                            <br>
                            Javascript -- Three.js -- Scryfall API -- HTML & css 
                            <br>
                            source_code_link: "https://github.com/"
                            <br>
                            live_link: "https://thefrank86.github.io/Card_Visualizer/index.html"
                        </div>
                    </div>
                </div>
                <div class="modal-container">   
                    <div class="modal" id="modal2">
                        <div class="modal-header">
                            <div></div>
                            <div class="title">App Project</div>
                            <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <video class="demo" autoplay muted loop>
                                <source id="source" src="./static/cardDemo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video> 
                            <a class="sourceLinkConatiner" href="https://github.com/" target="_blank">
                                <img class="sourceLink" src="./static/github.png" alt="Link to source code">
                            </a>
                            <a class="liveLinkContainer" href="https://thefrank86.github.io/Card_Visualizer/index.html" target="_blank">
                                <img class="liveLink" src="./static/live.png" alt="Live project link">
                            </a>
                            <br>
                            <br>
                            "Web application with Mobile in mind that enables users to search for job openings, view estimated salary ranges for positions, and locate available jobs based on their current location."
                            <br>
                            React Native -- JavaScript & jsXML -- JSearch API -- Axios
                            <br>
                            source_code_link: "https://github.com/"
                        </div>
                    </div> 
                </div>
                <div class="modal-container">
                    <div class="modal" id="modal3">
                        <div class="modal-header">
                            <div></div>
                            <div class="title">Game Project</div>
                            <button data-close-button class="close-button">&times;</button>
                        </div>
                        <div class="modal-body">
                            <video class="demo" autoplay muted loop>
                                <source id="source" src="./static/cardDemo.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video> 
                            <a class="sourceLinkConatiner" href="https://github.com/" target="_blank">
                                <img class="sourceLink" src="./static/github.png" alt="Link to source code">
                            </a>
                            <a class="liveLinkContainer" href="https://thefrank86.github.io/Card_Visualizer/index.html" target="_blank">
                                <img class="liveLink" src="./static/live.png" alt="Live project link">
                            </a>
                            <br>
                            <br>
                            "You're Here!  This is a showcase of my programming journey with live projects developed using modern techniques and a Bit of my personality.  Several different frameworks have been used to update this portfolio, including HTML, Django, and React."
                            <br>
                            ReactJS -- JavaScript XML -- Three.js -- css
                            <br>
                            source_code_link: "https://github.com/"
                            <br>
                            live_link: ""
                        </div>
                    </div> 
                </div>
            </div>

            <!-- music toggle -->
            <div class="toggle">
                <img id="music" src="./static/mNoteRed.png" alt="Music Note with Red Slash Through">
            </div>
        </div>
    </body>
</html>