<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./style.css" />
        <link rel="stylesheet" href="./style-modal.css" />
        <title>Starship Game</title>
    </head>
    <body>
        <script src="./script/three.min.js"></script>
        <script src="./script/GLTFLoader.js"></script>
        <script src="./script/yuka.js"></script>
        <!-- script-modal.js needs to be loaded first to access modal variables type="module" -->
        <script src="./script/modal.js" defer></script>
        <script src="./script/main.js" defer></script>

        <div class="background-container">
        <div class="stars"></div>
        <div class="twinkling"></div>
            
        <!-- <div id="background-image"></div> -->
        
        <div id="game-container"></div>
        
        <div id="overlay"></div>
        
        <!-- data-modal-target = "#(the named ID of the desired target div)"-->
        <!-- ************ Buttons to be removed after all functionality complete ******-->
        <button data-modal-target="#modal1" id="button1">Cards</button>
        <div class="modal" id="modal1">
            <div class="modal-header">
                <div class="title">Cardsite Project</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">

                Web-based platform that allows users to search specific and entire sets of cards for the popular TCG "Magic the Gathering."  Real-time search results using the Scryfall API are presented with a Custom Visualizer Display.
                <br>
                Javascript
                <br>
                Three.js
                <br>
                Scryfall API
                <br>
                HTML & css
                <br>
                source_code_link: "https://github.com/"
                <br>
                live_link: "https://thefrank86.github.io/Card_Visualizer/index.html"
            </div>
        </div>
        
        <button data-modal-target="#modal2" id="button2">App</button>
        <div class="modal" id="modal2">
            <div class="modal-header">
                <div class="title">App Project</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                "Web application with Mobile in mind that enables users to search for job openings, view estimated salary ranges for positions, and locate available jobs based on their current location."
                <br>
                React Native
                <br>
                JavaScript & jsXML
                <br>
                JSearch API
                <br>
                Axios
                <br>
                source_code_link: "https://github.com/"
            </div>
        </div> 

        <button data-modal-target="#modal3" id="button3">Game</button>
        <div class="modal" id="modal3">
            <div class="modal-header">
                <div class="title">Game Project</div>
                <button data-close-button class="close-button">&times;</button>
            </div>
            <div class="modal-body">
                "You're Here!  This is a showcase of my programming journey with live projects developed using modern techniques and a Bit of my personality.  Several different frameworks have been used to update this portfolio, including HTML, Django, and React."
                <br>
                ReactJS
                <br>
                JavaScript XML
                <br>
                Three.js
                <br>
                css
                <br>
                source_code_link: "https://github.com/"
                <br>
                live_link: ""
            </div>
        </div> 
    </body>
</html>