.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 350ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    /* width: 500px; */
    width: 700px;
    max-width: 80%;
}
#modal1{
    top: 20%;
    left: 28%;
}
#modal1.active{
    top: 50%;
    left: 50%;
}
#modal2{
    top: 10%;
    left: 50%;
}
#modal2.active{
    top: 50%;
    left: 50%;
}
#modal3{
    top: 20%;
    left: 72%;
}
#modal3.active{
    top: 50%;
    left: 50%;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}
.modal-body {
    padding: 10px 15px;
    pointer-events: none;
    z-index: 5;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 4;
}
#overlay.active {
    opacity: 1;
    pointer-events: auto;
}
.close-button {
    position: relative;
    right: 0%;
    top: 0%;
    align-items: center; 
}
#game-container {
    z-index: -1;
    pointer-events: auto;
}